*{
    margin:0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
.logo{
    width:300px;
    margin-top: 0px;
}
.grid{
    margin-top: -90px;
}
#sidemenu{
    margin-top: 0px;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: white;
}
.header-text h1{
    font-size:60px;
    margin-top: 20px;
}
.header-text h1 span{
    color:  #0d6efd;
}
.social-icons-fst{
    margin-top: 30px;
    margin-left: 327px;
}
.social-icons-fst a{
    text-decoration: none;
    font-size: 26px;
    margin-right: 15px;
    color: #adb5bd;
    display:inline-block;
    transition: transform 0.5s ;
}
.icons_{
    color: #dee2e6;
}
.social-icons-fst a:hover{
    color: #0d6efd;
    transform: translateY(-5px);
}
/* ..........about........... */
#about{
    padding: 80px 0;
    color: black;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    flex-basis: 60%;
    margin-top: 10px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: black;
}
.sub-title_1{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6610f2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 20%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.txt{
    margin-top: 10px;
}
/* ............Skills............ */
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
.services-list div{
    background: #262626;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #0d6efd;
    transform: translateY(-10px);
}
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 80px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/* ............Contact Me............. */
#contact{
    background-color: black;
    margin-top: px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: grey;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 26px;
    margin-right: 15px;
    color: #ababab;
    display:inline-block;
    transition: transform 0.5s ;
}
.social-icons a:hover{
    color: #0d6efd;
    transform: translateY(-5px);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #0d6efd;
}
.btn.btn2{
    display: inline-block;
    background: #0d6efd;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    color: white;
    background: #262626;
    font-weight: 300;
    margin-top: 138px;
}
.copyright i{
    color: white;
}
/* --------------CSS for Small Screen------------- */
nav .fa-solid{
    display: none;
}


@media only screen and (max-width:600px){
    /* #header{ 
        background-image: url();
    } */
    .header-text{
        color: white;
        margin-top: 50%;
        font-size: 25px;
        margin-left: 50px;
    }
    .header-text h1{
        font-size: 45px;
    }
    nav .fa-solid{
        display: block;
        font-size: 20px;
    }

    nav ul{
        background: #6c757d;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    } 
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size:14px ;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 16px;
    }
    .social-icons-fst{
        margin-top: 30px;
        margin-left: 135px;
    }
    .social-icons-fst a{
        text-decoration: none;
        font-size: 26px;
        margin-right: 15px;
        color: #adb5bd;
        display:inline-block;
        transition: transform 0.5s ;
    }
    .social-icons-fst a:hover{
        color: #0d6efd;
        transform: translateY(-5px);
    }

}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}


.link{
    text-decoration: none;
    color: white;
}
